html,body{
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: cyan;
    padding: 3px 10px;
}

.main-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

.main-content .left-image{
    width: 50%;
    height: 100%;

}

.left-image img{
    width: 100%;
    height: 100%;
}

.main-content .right-login {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
   
}

.main-content .right-login .submit-btn {
    margin-right: 120px;
}